{% extends "base.html" %}

{% block content %}
<h2>Curriculum List</h2>

{% if selected_program %}
    <p>
        Program:
        <strong>{{ selected_program.code }} - {{ selected_program.name }}</strong>
    </p>
{% endif %}

<p>
    <a href="{% url 'curriculum:curriculum_create' %}{% if selected_program %}?program={{ selected_program.id }}{% endif %}">
        Add New Curriculum
    </a>
</p>

<ul>
    {% for c in curricula %}
        <li>
            <strong>{{ c.code }} - {{ c.name }}</strong>
            (Program: {{ c.program.code }})

            {% if c.year %}
                | Year: {{ c.get_year_display }}
            {% endif %}

            | Semester: {{ c.get_semester_display }}

            {% if c.ects %}
                | ECTS: {{ c.ects }}
            {% endif %}

            {% if c.credit %}
                | Credit: {{ c.credit }}
            {% endif %}

			{% if c.lecturer %}
                | Lecturer: {{ c.lecturer.username }}
            {% endif %}

            | Students enrolled: {{ c.students.count }}

            | <a href="{% url 'curriculum:curriculum_edit' c.id %}">Edit</a>
			| <a href="{% url 'curriculum:curriculum_delete' c.id %}">Delete</a>
        </li>
    {% empty %}
        <li>No curricula found.</li>
    {% endfor %}
</ul>
{% endblock %}